<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.baidu.ark.sche.domain.app.typehandler.ResourceHandler"/>
        <typeHandler handler="com.baidu.ark.sche.domain.app.typehandler.IopDateHandler"/>
    </typeHandlers>

    <mappers>
        <mapper class="com.baidu.ark.sche.instance.repository.ScInstanceRepository"/>
        <mapper class="com.baidu.ark.sche.app.repository.AppRepository"/>
        <mapper class="com.baidu.ark.sche.resource.repository.ScContainerGroupRepository"/>
        <mapper class="com.baidu.ark.sche.resource.router.ScMatrixRouterRepository"/>
        <mapper class="com.baidu.ark.sche.operation.repository.InstanceOffsetGeneratorRepository"/>
        <mapper class="com.baidu.ark.sche.operation.repository.JobIdGeneratorRepository"/>
    </mappers>
</configuration>